*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
}

.hero{
    text-align: center;
    padding: 100px 20px;
}

footer{
    text-align: center;
    padding: 20px;
}
.gallery-section {
    padding: 40px 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width: 768px){

    nav{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
body {
    background-color: #ECF0F1;
}

nav {
    background-color: #2C3E50;
}

.hero {
    background-color: #3498DB;
    color: white;
}

footer {
    background-color: #2C3E50;
    color: white;
}
.gallery img {
    border: 3px solid rgb(13, 13, 15);
    border-radius: 10px;
}
.about-section {
    text-align: center;
    padding: 100px 20px;
}
.about-section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Center vertically */
    align-items: center;       /* Center horizontally */
    text-align: center;
}

.card {
    margin: 15px;
    padding: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.hero h2 {
    color: #0F172A;
}

.hero p {
    color: #475569;
}
.contact-section {
    text-align: center;
    padding: 50px 20px;
}

.contact-section form {
    margin-bottom: 30px;
}

.contact-section input,
.contact-section textarea {
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.contact-section button {
    padding: 10px 20px;
}

.contact-section iframe {
    display: block;
    margin: 0 auto;
}